body{
  font-family: 'Bitter', serif;
  background-color: #F2F2F2;:
}

h1, h2, h3{
  font-family: 'Bitter', serif;
  color: #729494;
}

header{
  position: relative;
  height: 235px;
}

h1, h2{
  position: absolute;
}

h2{
  top: -47px;
  left: 666px;
  font-size: 85px;
}

h1{
  top: 85px;
  left: 640px;
}

#salmon {
    width: 28%;
    left: 1%;
    top: 35px;
    position: absolute;
}

#chinook {
  width: 27.5%;
  right: 1%;
  top: 23px;
  position: absolute;
}

section{
  float: left;
  width: 200px;
}

fieldset {
    width: 50px;
    margin-left: 300px;
}

table{
  float: left;
  margin-left: 300px;
}

a{
  text-decoration: none;
  position: absolute;
  bottom: 175px;
  left: 50%;
}

th, td{
  font-family: Helvetica;
}

table {
  border-spacing: 7px;
  background-color: #336666;
  color: #172648;
}
